.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.playerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.gameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.disclaimer {
  max-width: 300px;
  margin-top: 20px;
  text-align: center;
  color: red;
}

.title {
  margin: 0;
}

.subtitle {
  margin: 0;
}

.win {
  color: green;
}

.loss {
  color: red;
}
