.leaderboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0 0 20px;
}

.leaderboard {
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
}

.body td {
    text-align: center;
}
